<body>
  <header>
    <h1> C O M E D I A N S </h1>
  </header>
<div class= "stats">
  <h2><strong> STATISTICS </strong></h2>
  <div class= "statistics" id="statistics-box">
    <ul>
      <li><strong>AVERAGE TV SPECIAL RUN TIME: </strong> <br><br> <%= @specials.average_run_time.to_i %></li>
      <li><strong>TOTAL NUMBER OF TV SPECIALS: </strong><br><br> <%= @specials.count %></li>
      <li><strong>AVERAGE COMEDIAN AGE: </strong><br><br><%= @comedians.average_age.to_i %></li>
      <li><strong>WHERE THEY LIVE: </strong> <br><br> <%= @comedians.list_unique_cities.join(", ") %></li>
    </ul>
  </div>
</div>

<div class="comedian-grid">
<% @comedians.each do |comic| %>
  <div class="comics" id="comic-<%=comic.id%>">
    <h2><%= comic.name %></h2>
    <div id="comic-info">
      <h4>Age: <%= comic.age%></h4>
      <h4>City: <%= comic.city%></h4>
      <h4>Total Specials: <%=comic.specials.count%></h4>
    </div>
    <br>
      <h3> --- SPECIALS --- </h3>
      <div class="specials-grid" id="comic-<%=comic.id%>-specials">
        <% comic.specials.each do |special| %>
        <div class="special-info">
          <h5><em> <%= special.name %></em></h5>
          <h5>Runtime: <%= special.length %> min</h5>
        </div>
        <img src=<%= special.image_url %> >
        <% end %>
      </div>
  </div>

<% end %>
</div>
</body>
